<h1>Create Event</h1>
<div class = box>
<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="eventForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Event Title" formControlName="EventTitle" type="EventTitle" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Type" formControlName="Type" type="Type" required>
      </mat-form-field>
    </div>
    <div class="example-wrapper" style="width: 180px; display: inline-block" required>
      <label class="example-input-wrapper">
        Date Start:
        <input placeholder="Date Start:" formControlName="Start" [selectMode]="'rangeFrom'" [owlDateTimeTrigger]="StartDate"
          [owlDateTime]="StartDate" required>
        <owl-date-time #StartDate></owl-date-time>
      </label>
      <br />
      <label class="example-input-wrapper">
        Date End:
        <input placeholder="Date End:" formControlName="End" [selectMode]="'rangeTo'" [owlDateTimeTrigger]="EndDate"
          [owlDateTime]="EndDate" required>
        <owl-date-time #EndDate></owl-date-time>
      </label>
    </div>
    <div>
        <mat-form-field>
          <input matInput placeholder="Event Description" formControlName="EventDescription" type="EventDescription" required>
        </mat-form-field>
      </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Volunteers Needed" formControlName="VolunteersNeeded" type="VolunteersNeeded" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="Address" type="Address" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Zip" formControlName="Zip" type="Zip" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="City" type="City" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="State" formControlName="State" type="State" required>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create</button>
</form>
</div>
<video id="volunteer_carousel" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="true" src="../../../assets/Home_Assets/registerbluelow.mp4">
    
</video>
<a mat-button routerLink="/event">Back to List</a>