<div style="text-align: center">
    <p>Hoosier Volunteers is a web application to connect local Indiana organizations with local Hoosier volunteers. As
      a group of developers we found there was a lack of notification and ability to find opportunities or post
      opportunities to volunteer. This web application was built in hopes to fill that gap. Thank you for visiting our
      site, please feel free to contact and send feedback.</p>
    <p>
      Meet the Team!
    </p>
    <p>
      Lawrence
    </p>
    <p>
      Lorem Ipsum ..................................
    </p>
    <p>
      Danielle
    </p>
    <p>
      Lorem Ipsum ................................
    </p>
    <p>
      Cody
    </p>
    <p>
      Lorem Ipsum ................................
    </p>
    <p>
      Tim
    </p>
    <p>
      Lorem Ipsum ................................
    </p>
</div>