<mat-toolbar class="navcolor text">
  <span>Hoosier Volunteers</span>
  <span class="example-fill-remaining-space"></span>
  <div class="button-row">
    <button mat-raised-button routerLink="/register">Register</button>
     <button mat-raised-button color="primary" routerLink="/login">Log In</button>
    <a mat-raised-button routerLink="aboutus">About Us</a>
    <button mat-raised-button color="primary" routerLink="/event/create">Create an Event</button>
    <button mat-raised-button routerLink="/event/delete/1">Delete an Event</button>
    <button mat-raised-button color="primary" routerLink="/event">See All Events</button>
    <button mat-raised-button routerLink="/home">Sign Out</button>
    </div>
</mat-toolbar>