<mat-toolbar class="navcolor text">
  <button mat-button routerLink="/home">Hoosier Volunteers</button>
  <span *ngIf="isLoggedIn">{{userName}}</span>
  <span class="example-fill-remaining-space"></span>
  <div class="button-row">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/register">
        <span>Register</span>
      </button>
      <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/login">
        <span>Log In</span>
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item (click)="onLogOut()" routerLink="/login">
        <span>Logout</span>
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item routerLink="/event">
        <span>List Events</span>
      </button>
      
        <span *ngIf="isOrganization" mat-menu-item routerLink="/event/create">
          Create Event
        </span>
      
      <button mat-menu-item routerLink="/aboutus">
        <span>About Us</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>