<h1>Event Details</h1>
<hr>

<div *ngIf="event">
  
  <div>
    <label for="">EventTitle: </label>
    <span>{{event.EventTitle}}</span>
  </div>
  <p></p>
  <div>
    <label for="">Type: </label>
    <span>{{event.Type}}</span>
  </div>
  <p></p>
  <div>
    <label for="">Description: </label>
    <span>{{event.EventDescription}}</span>
  </div>
  <p></p>
  <div>
    <label for="">Start: </label>
    <span>{{event.Start | date: 'MM/dd/yyyy h:mm a' }}</span>
  </div>
  <p></p>
  <div>
    <label for="">End: </label>
    <span>{{event.End | date: 'MM/dd/yyyy h:mm a' }}</span>
  </div>
  <p></p>
  <div>
    <label for="">Volunteers Needed: </label>
    <span>{{event.VolunteersNeeded}}</span>
  </div>
  <p></p>
  <div>
    <label for="">Address: </label>
    <span>{{event.Address}}</span>
  </div>
  <p></p>
  <div>
    <label for="">Zip: </label>
    <span>{{event.Zip}}</span>
  </div>
  <p></p>
  <div>
    <label for="">City: </label>
    <span>{{event.City}}</span>
  </div>
  <p></p>
  <div>
    <label for="">State: </label>
    <span>{{event.State}}</span>
  </div>
</div>

<button mat-button color="accent" routerLink="/event/update/{id}">Edit</button>
<button mat-button color="primary" routerLink="/event">Back to List</button>
