<h1>Events Map</h1>
<a *ngIf="isOrganization" mat-raised-button color="primary" routerLink="/event/create">Create New</a>
<div class="divider"></div>
<a mat-raised-button color="primary" routerLink="/event">Event List</a>
<hr>

<style>
  agm-map {
    height: 500px;
    width: 100%;
    align-content: center;
  }
</style>

<div style="align-content:center;">
  <agm-map [latitude]="39.7684" [longitude]="-86.1581">
   <li *ngFor= "let event of dataSource">
      <agm-marker (markerClick)="goToEvent(event.EventId)" [animation]="BOUNCE" [label]= "event.EventTitle" [latitude]= "event.Latitude" [longitude]= "event.Longitude"></agm-marker>
    </li>
  </agm-map>
</div>

<script>
  function goToEvent(id) {
    Console.log(id);
  }
</script>